@media (max-width: 1024px) {
    .btn-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: white ;
        display: flex;
        align-items: center;
    }

    .icon-menu {
        font-size: 24px;
        padding-left: 20px;
    } 

    .shadow-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .side-bar {
        display: none;
        position: fixed;
        width: 200px;
        z-index: 2;
    }

    .content {
        margin-top: 40px;
    }

    .content-title-img {
        height: 70px;
        width: 200px;
        object-fit: contain;
    }

    .content-body {
        width: 100%;
    }

    .content-hero-section {
        height: 400px;
    }

    .hero-section-sub-title {
        width: 85%;
    }
    
    .content-features {
        display: flex;
        flex-direction: column;
    }
    
    .features-item {
        width: 100%;
    }

    .footer-content {
        height: 60px;
    }
}